
<form *ngIf="edit" action="" method="post" role="form">
  <legend>ID : {{edit.id}}</legend>

  <div class="form-group">
    <label for="">NAME</label>
    <input [(ngModel)]="edit.name" [ngModelOptions]="{standalone: true}" value="{{edit.name}}" type="text" class="form-control"  placeholder="Input...">
  </div>
  <div class="form-group">
    <label for="">PRICE</label>
    <input [(ngModel)]="edit.price" [ngModelOptions]="{standalone: true}" value="{{edit.price}}" type="text" class="form-control" placeholder="Input...">
  </div>
  <button (click)="Update(edit)">Save</button>
</form>
